# None of these are required

## Default: https://ticketsbot.cloud
FRONTPAGE_URL=
## Default: https://docs.ticketsbot.cloud
DOCS_URL=
## Default: https://vote.ticketsbot.cloud
VOTE_URL=
## Default: Tickets | A Discord Support Manager Bot
DASHBOARD_TITLE=
## Default: Management panel for the Discord Tickets bot
DASHBOARD_DESCRIPTION=
## Default: /favicon.ico
DASHBOARD_FAVICON=
## Default: image/ico
DASHBOARD_FAVICON_TYPE=
## Default: false
DASHBOARD_WHITELABEL_DISABLED=
## Default: github.com/ticketsbot
POWERED_BY=
## Default: https://ticketsbot.cloud/assets/img/logo.png
ICON_URL=